<div class="container">
	<ol class="breadcrumb">
		<li><a href="#/creation">1. Creation</a></li>
		<li><a href="#/participants">2. Participants</a></li>
		<li><a href="#/exclusions">3. Exclusions</a></li>
		<li class="active">4. Confirmation</li>
	</ol>
	<h2>Event {{event.name}} confirmation</h2>
	
	<div class="row row-padding">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
				<input type="text" class="form-control " ng-model="event.name" ng-readonly="true" />
			</div>
		</div>
	</div>
	<div class="row row-padding">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input type="text" class="form-control" ng-model="event.organizerName" ng-readonly="true" />
			</div>
		</div>
	</div>
	<div class="row row-padding">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" ng-model="event.organizerEmail" ng-readonly="true" />
			</div>
		</div>
	</div>
	<div class="row row-padding">
		<div class="col-sm-6">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
				<input ui-date="dateOptions" class="form-control"  placeholder="Enter date" ng-model="event.date" ng-readonly="true" />
			</div>
		</div>
	</div>
	
	<h3>Participants</h3>
	
	<div class="row row-padding" ng-repeat="participant in participants" ng-animate="'animate'">
		<div class="col-sm-3">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				<input type="text" class="form-control" ng-model="participant.name" placeholder="Enter name" ng-readonly="true"/>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
				<input type="email" class="form-control" ng-model="participant.email" placeholder="Enter email" ng-readonly="true" />
			</div>
		</div>
		<div class="col-sm-4">
			<div class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
				<select ui-select2 multiple class="form-control" ng-model="participant.exclusionHashKeys" ng-readonly="true">
   					<option ng-repeat="p in participants | filter:{$$hashKey:'!'+participant.$$hashKey}" value="{{p.$$hashKey}}">{{p.name}}</option>
				</select>
			</div>
		</div>
	</div>
	
	<div ng-show="error">
		Error code {{error.code}}
	</div>
	
	
	<a href="#/exclusions" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back</a>
	<button type="button" class="btn btn-primary" ng-click="confirm()" ng-disabled="isEventInvalid()">Create event <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
</div>