<div class="container">
	<ol class="breadcrumb">
		<li class="active">1. Creation</li>
		<li>2. Participants</li>
		<li>3. Exclusions</li>
		<li>4. Confirmation</li>
	</ol>
	<h1>Event creation</h1>
	<form name="creationForm" role="form" ng-submit="addOrganizer()">
		<div class="row row-padding">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
					<input type="text" class="form-control " ng-model="event.name" placeholder="Enter event name" required />
				</div>
				<span class="help-block">exemple : Noel 2013</span>
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" ng-model="event.organizerName" placeholder="Enter organizer name" required />
				</div>
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
					<input type="email" class="form-control" ng-model="event.organizerEmail" placeholder="Enter organizer email" required />
				</div>
			</div>
		</div>
		<div class="row row-padding">
			<div class="col-sm-6">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
					<input ui-date="dateOptions" class="form-control"  placeholder="Enter date" ng-model="event.date" required />
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary" ng-disabled="creationForm.$invalid">Add participants <i class="glyphicon glyphicon-circle-arrow-right"></i></button>
	</form>
</div>