<div>
	<h1>Edition of {{eventName}}</h1>
	<form name="editionForm" class="form" role="form" ng-submit="edit()">
		<div class="row">
			<div class="col-lg-3">
				<label>Name</label>
			</div>
			<div class="col-lg-3">
				<label>Email</label>
			</div>
			<div class="col-lg-3">
				<label>Exclusions</label>
			</div>
		</div>
		<div class="row" ng-repeat="participant in participants">
			<div class="col-lg-3">
				<input type="text" class="form-control" ng-model="participant.name" placeholder="Name" required/>
			</div>
			<div class="col-lg-3">
				<input type="email" class="form-control" ng-model="participant.email" placeholder="Email" required />
			</div>
			<div class="col-lg-3">
				<select ui-select2 multiple class="form-control" ng-model="participant.exclusionHashKeys" ng-options="p.$$hashKey as p.name for p in participants | filter:{$$hashKey:'!'+participant.$$hashKey}"></select>
			</div>
			<div class="col-lg-1">
				<button type="button" class="form-control btn btn-link" ng-click="removeParticipant(participant)">Remove</button>
			</div>
		</div>
		<button type="button" class="btn btn-lg" ng-click="addParticipant()">Add participant</button>
		<button type="submit" class="btn btn-lg btn-primary" ng-disabled="editionForm.$invalid">Submit</button>
	</form>
</div>