<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<div class="row">
				<div class="col-sm-10">
					<b>{{'EVENT' | translate }}  <i>{{event.name}}</i></b>
				</div>
				<div class="col-sm-2">
					<div class="progress progress-striped active" ng-hide="loaded">
						<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" />
					</div>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="row row-padding">
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-gift"></i></span>
						<input type="text" class="form-control " ng-model="event.name" ng-readonly="true" />
					</div>
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" ng-model="event.organizerName" ng-readonly="true" />
					</div>
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input type="email" class="form-control" ng-model="event.organizerEmail" ng-readonly="true" />
					</div>
				</div>
			</div>
			<div class="row row-padding">
				<div class="col-sm-5">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
						<input ui-date="dateOptions" ui-date-format="yy-mm-dd" class="form-control" ng-model="event.date" ng-readonly="true" />
					</div>
				</div>
			</div>
			
			<p>{{'EVENT_PARTICIPANTS' | translate }}</p>
			
			<div class="row row-padding" ng-repeat="participant in event.participants" ng-animate="'animate'">
				<div class="col-sm-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
						<input type="text" class="form-control" ng-model="participant.name" placeholder="Enter name" ng-readonly="true"/>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
						<input type="email" class="form-control" ng-model="participant.email" placeholder="Enter email" ng-readonly="true" />
					</div>
				</div>
				<div class="col-sm-3">
					<div class="input-group">
						<span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
						<select ui-select2 multiple class="form-control" ng-model="participant.excludedNames" ng-readonly="true">
		   					<option ng-repeat="excludedName in participant.excludedNames" value="{{excludedName}}">{{excludedName}}</option>
						</select>
					</div>
				</div>
				<div class="col-sm-1">
					<i class="glyphicon glyphicon-eye-open" ng-show="participant.resultConsulted"></i>
					<i class="glyphicon glyphicon-eye-close" ng-hide="participant.resultConsulted"></i>
				</div>
			</div>
		</div>
	</div>
</div>