<div class="container">
	<ol class="breadcrumb">
		<li><a href="#/creation">1. Creation</a></li>
		<li><a href="#/participants">2. Participants</a></li>
		<li class="active">3. Exclusions</li>
		<li>4. Confirmation</li>
	</ol>
	<h1>Edit exclusions for {{event.name}}</h1>
	<form class="form" role="form">
		<div class="row row-padding" ng-repeat="participant in participants" ng-animate="'animate'">
			<div class="col-sm-3">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
					<input type="text" class="form-control" ng-model="participant.name" ng-readonly="true" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="input-group">
					<span class="input-group-addon"><i class="glyphicon glyphicon-ban-circle"></i></span>
					<select ui-select2 multiple class="form-control" ng-model="participant.exclusionHashKeys" data-placeholder="exlusions for {{participant.name}}">
	   					<option ng-repeat="p in participants | filter:{$$hashKey:'!'+participant.$$hashKey}" value="{{p.$$hashKey}}">{{p.name}}</option>
					</select>
				</div>
			</div>
		</div>
		<a href="#/participants" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i> Back</a>
		<a href="#/confirmation" class="btn btn-primary">Confirm event <i class="glyphicon glyphicon-circle-arrow-right"></i></a>
	</form>
</div>