<div class="container">
	<div class="jumbotron">
		<button class="btn btn-lg btn-primary" translate="CREATE_EVENT" ng-click="create()"><i class="glyphicon glyphicon-plus-sign"></i></button>
  </div>
</div>
<div class="container">
	<div class="row" ">
		<div class="col-sm-1"><img src="img/Lamp-icon.png" /></div>
		<div class="col-sm-11"><h3>&Agrave; quoi sert <b>Lotocado</b> ?</h3></div>
	</div>
	<div class="row" ">
		<div class="col-sm-9 col-sm-offset-1">
			<p>
				<b>Lotocado</b> est une application gratuite qui permet d'organiser le tirage au sort des cadeaux de No&euml;l. 
				Chaque personne re&ccedil;oit un cadeau unique et personnalis&eacute; d'une personne qui sera choisie au hasard.
			</p>
			<p>
				Un organisateur est responsable de cr&eacute;er l'&eacute;v&egrave;nement et de renseigner l'ensemble des participants. 
				Chaque participant re&ccedil;oit un email contenant le lien vers le r&eacute;sultat de son tirage. Il d&eacute;couvre ainsi qui aura la chance de recevoir un cadeau de sa part.
			</p>
			<p>
				Le tirage &eacute;tant secret, m&ecirc;me l'organisateur ne conna&icirc;t pas le r&eacute;sultat. Il faudra donc patienter jusqu'&agrave; No&euml;l pour savoir qui vous offrira votre cadeau !
			</p>
		</div>
		<div class="col-sm-2"><img src="img/gift-icon-closed.png" /></div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-1"><img src="img/Lamp-icon.png" /></div>
		<div class="col-sm-11"><h3>Comment &ccedil;a marche ?</h3></div>
	</div>
	<div class="row">
		<div class="col-sm-2"><img src="img/gift-icon-open.png" /></div>
		<div class="col-sm-10">
			<p><img src="img/Numbers-1-icon.png" /> Je, c'est &agrave; dire l'organisateur, cr&eacute;e un &eacute;v&egrave;nement avec tous les participants</p>
			<p><img src="img/Numbers-2-icon.png" /> Je d&eacute;cide si certaines personnes ne peuvent pas recevoir de cadeau de la part d'autres personnes (exclusions)</p>
			<p><img src="img/Numbers-3-icon.png" /> Et finalement je confirme les informations saisies. Ensuite, <b>Lotocado</b> r&eacute;alise le tirage au sort et envoie un email &agrave; chaque participant</p>
		</div>
	</div>
</div>