<div class="container">
	<div class="jumbotron">
		<button class="btn btn-lg btn-primary" translate="CREATE_EVENT" ng-click="create()"><i class="glyphicon glyphicon-plus-sign"></i></button>
  </div>
</div>
<div class="container">
	<div class="row" ">
		<div class="col-sm-1"><img src="img/cookie-icon.png" /></div>
		<div class="col-sm-11"><h3><span translate="WHAT_IS_FOR" /> <b><span translate="LOTOCADO" /></b> ?</h3></div>
	</div>
	<div class="row" ">
		<div class="col-sm-9 col-sm-offset-1">
			<p><b><span translate="LOTOCADO" /></b> <span translate="WHAT_IS_FOR_1" /></p>
			<p><span translate="WHAT_IS_FOR_2" /></p>
			<p><span translate="WHAT_IS_FOR_3" /></p>
		</div>
		<div class="col-sm-2"><img src="img/gift-icon-closed.png" /></div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-1"><img src="img/cookie-icon.png" /></div>
		<div class="col-sm-11"><h3><span translate="HOW_DOES_IT_WORK" /> ?</h3></div>
	</div>
	<div class="row">
		
		<div class="col-sm-9  col-sm-offset-1">
			<p><img src="img/Numbers-1-icon.png" /> <span translate="HOW_DOES_IT_WORK_1" /></p>
			<p><img src="img/Numbers-2-icon.png" /> <span translate="HOW_DOES_IT_WORK_2" /></p>
			<p><img src="img/Numbers-3-icon.png" /> <span translate="HOW_DOES_IT_WORK_3" /> <b><span translate="LOTOCADO" /></b> <span translate="HOW_DOES_IT_WORK_4" /></p>
		</div>
		<div class="col-sm-1"><img src="img/gift-icon-open.png" /></div>
	</div>
</div>