<div class="container">
	<div class="jumbotron">
		<button class="btn btn-lg btn-primary" translate="HOME_CREATE_EVENT" ng-click="create()"><i class="glyphicon glyphicon-plus-sign"></i></button>
  </div>
</div>
<div class="container">
	<div class="row" ">
		<div class="col-sm-1"><img src="img/cookie-icon.png" /></div>
		<div class="col-sm-11"><h3>{{'HOME_WHAT_IS_FOR' | translate }} <b>{{'APPNAME' | translate }}</b> ?</h3></div>
	</div>
	<div class="row" ">
		<div class="col-sm-9 col-sm-offset-1">
			<p><b>{{'APPNAME' | translate }}</b> {{'HOME_WHAT_IS_FOR_1' | translate }}</p>
			<p>{{'HOME_WHAT_IS_FOR_2' | translate }}</p>
			<p>{{'HOME_WHAT_IS_FOR_3' | translate }}</p>
		</div>
		<div class="col-sm-2"><img src="img/gift-icon-closed.png" /></div>
	</div>
	<hr />
	<div class="row">
		<div class="col-sm-1"><img src="img/cookie-icon.png" /></div>
		<div class="col-sm-11"><h3>{{'HOME_HOW_DOES_IT_WORK' | translate }} ?</h3></div>
	</div>
	<div class="row">
		<div class="col-sm-9  col-sm-offset-1">
			<p><img src="img/Numbers-1-icon.png" /> {{'HOME_HOW_DOES_IT_WORK_1' | translate }}</p>
			<p><img src="img/Numbers-2-icon.png" /> {{'HOME_HOW_DOES_IT_WORK_2' | translate }}</p>
			<p><img src="img/Numbers-3-icon.png" /> {{'HOME_HOW_DOES_IT_WORK_3' | translate }} <b>{{'APPNAME' | translate }}</b> {{'HOME_HOW_DOES_IT_WORK_4' | translate }}</p>
		</div>
		<div class="col-sm-1"><img src="img/gift-icon-open.png" /></div>
	</div>
</div>