<div class="container">
	<div class="participant">
		<div ng-show="!participant">
			<button type="button" class="btn btn-primary btn-lg" ng-click="showResult()" ng-hide=submitted>{{'PARTICIPANT_RESULT_1' | translate }}<br>{{'PARTICIPANT_RESULT_2' | translate }}</button>
			<div class="progress progress-striped active" ng-show="loading" style="width: 200px;margin: 0 auto;">
				<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%" />
			</div>
			<div class="alert alert-danger fade in" ng-show="error" style="width: 200px;margin: 0 auto;">
				<span translate="PARTICIPANT_ERROR" />
			</div>
		</div>
		<div class="result" ng-show="participant" ng-animate="{show: 'animate-show'}">
			<span style="font-size: 40px;">{{participant.name}}</span>
			<br /><span style="font-size: 30px;">{{'PARTICIPANT_RESULT_3' | translate }} {{participant.eventName}}
			<br />{{'PARTICIPANT_RESULT_4' | translate }}</span>
			<br /><span style="font-size: 50px;">{{participant.toName}}</span>
		</div>
	</div>
</div>