<div class="container">
	<div class="participant">
		<div ng-show="!result">
			<button type="button" class="btn btn-primary btn-lg" ng-click="showResult()">D&eacute;couvre le r&eacute;sultat <br /> du tirage au sort</button>
		</div>
		<div ng-show="result" ng-animate="{show: 'animate-show'}">
			<span style="font-size: 30px;">{{result.name}}</span>
			<br /><span style="font-size: 20px;"> pour l'&eacute;v&egrave;nement {{result.eventName}}
			<br /> tu auras la chance d'offrir un cadeau &agrave;</span>
			<br /><span style="font-size: 40px;">{{result.toName}}</span>
		</div>
	</div>
</div>