<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<b>{{'SUCCESS_EVENT' | translate }}  <i>{{event.name}}</i> {{'SUCCESS_CREATED' | translate }}</b>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-10">
					<p>{{'SUCCESS_PARTICIPANTS' | translate }}</p>
					<p>{{'SUCCESS_ADMIN' | translate }}</p>
					<p><a href="{{event.organizerLink}}">{{event.organizerLink}}</a></p>
					<p>{{'SUCCESS_THANK_YOU' | translate }}</p>
				</div>
				<div class="col-sm-2">
					<img src="img/gift-icon-closed.png" />
				</div>
			</div>
		</div>
	</div>
</div>