<!doctype html>
<html>
<head>
</head>
<body>
	<p>${event.organizerName},</p>
	<p>L'&eacute;v&egrave;nement ${event.name} a bien &eacute;t&eacute; cr&eacute;&eacute;.</p>
	<p>
		Un email a &eacute;t&eacute; envoy&eacute; &agrave; l'ensemble des participants. Cet email
		contient un lien qui permettra &agrave; chaque participant de conna&icirc;tre la
		personne &agrave; laquelle il offrira un cadeau. <br>Pour retrouver
		toutes les informations concernant cet &eacute;v&egrave;nement, veuillez cliquer sur
		le lien suivant : <a href="${link}">${link}</a>
	</p>
	<p>Merci d'avoir utiliser notre service.</p>
	<p>
		L'&eacute;quipe Lotocado <br>
		<a href="http://lotocado.appspot.com">lotocado.appspot.com</a>
	</p>
</body>
</html>