<!doctype html>
<html>
<head>
</head>
<body>
	<p>${event.organizerName},</p>
	<p>L'évènement ${event.name} a bien été créé.</p>
	<p>
		Un email a été envoyé à l'ensemble des participants. Cet email
		contient un lien qui permettra à chaque participant de connaître la
		personne à laquelle il offrira un cadeau. <br>Pour retrouver
		toutes les informations concernant cet évènement, veuillez cliquer sur
		le lien suivant : <a href="${link}">${link}</a>
	</p>
	<p>Merci d'avoir utiliser notre service.</p>
	<p>
		L'équipe Lotocado <br>
		<a href="http://lotocado.appspot.com">lotocado.appspot.com</a>
	</p>
</body>
</html>