<!doctype html>
<html>
<head>
</head>
<body>
	<p>${participant.name},</p>
	<p>
		${event.organizerName} vous invite &agrave; participer &agrave; l'&eacute;v&egrave;nement <b>${event.name}</b>
		qui se d&eacute;roulera le ${event.day} ${event.month} ${event.year}.
	</p>
	<p>
		Pour conna&icirc;tre l'issu du tirage au sort et d&eacute;couvir l'heureux &eacute;lu qui
		aura la chance de recevoir un cadeau de votre part, cliquer sur le lien
		suivant : <br> <a href="${link}">${link}</a>
	</p>
	<p>Place maintenant &agrave; votre imagination !</p>
	<p>
		L'&eacute;quipe Lotocado <br> <a href="http://lotocado.appspot.com">lotocado.appspot.com</a>
	</p>
</body>
</html>