<!doctype html>
<html>
<head>
</head>
<body>
	<p>${participant.name},</p>
	<p>
		${event.organizerName} vous invite à participer à l'évènement <b>${event.name}</b>
		qui se déroulera le ${event.date}.
	</p>
	<p>
		Pour connaître l'issu du tirage au sort et découvir l'heureux élu qui
		aura la chance de recevoir un cadeau de votre part, cliquer le lien
		suivant : <br> <a href="${link}">${link}</a>
	</p>
	<p>Place maintenant à votre imagination !</p>
	<p>
		L'équipe Lotocado <br> <a href="http://lotocado.appspot.com">lotocado.appspot.com</a>
	</p>
</body>
</html>